* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Standard';

}

a {
  text-decoration: none;
}

@font-face {
  font-family: Standard;
  src: url(/src/fonts/standard-book-webfont.woff);
}

@font-face {
  font-family: TGL-0-17;
  src: url(/src/fonts/TGL-0-17.ttf);
}

@font-face {
  font-family: CMU-brood;
  src: url(/src/fonts/brood-brood.ttf);
}

@font-face {
  font-family: CMU-italic;
  src: url(/src/fonts/brood-italic.ttf);
}

/*** HEADER ***/
header {
  background-color: black;
  height: fit-content;
}

.wrap {
  display: flex;
  flex-direction: row;
  padding: 15px 25px 25px 25px;
}

/* Title */
.title {
  font-family: 'Standard';
  height: fit-content;
  font-size: 24px;
  color: rgb(255, 0, 212);
  word-break: keep-all;
  width: 30vw;
  z-index: 1;
}


/* Hamburger */
.hamburger {
  position: fixed; */
  z-index: 100;
  top: 7px;
  right: 15px;
  display: block;
  cursor: pointer;
  background-color: rgba(148, 137, 137, 0);
  border: none;
  display: flex;
  flex-direction: row;
}

.hamburger .closeIcon {
  color: rgb(255, 0, 0);
  font-size: 40px;
}

.hamburger .menuIcon {
  color: rgb(0, 150, 50);
  font-size: 40px;
  
}

.closeIcon {
    display: none;
}
.hamburger .closeIcon {
  color: rgb(255, 0, 0);
  font-size: 40px;
}

.hamburger .menuIcon {
  color: rgb(0, 150, 50);
  font-size: 40px;
  
}

.closeIcon {
    display: none;
}

.menu {
  font-size: 15px;
  display: block;
  text-align: right;
  position: fixed;
  transform: translateY(-150%);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  right: 50px;
  bottom: 0;
  z-index: 99;
  list-style: none;
  height: fit-content;
}

.menu a {
  font-family: "Standard";
  color: rgb(167, 167, 170);
  padding: 5px;
  text-decoration: none;
}

.menu a:hover {
color: white;
}


.showMenu {
  transform: translateY(0); 
}



/* PROJECT-PAGINA */
.year-project {
  font-size: 15px;
  padding: 0 0 25px 25px;
}

.title-project {
  font-family: 'TGL-0-17';
  text-decoration: none;
  font-size: 27px;
  padding: 25px 0 0 25px;

}

.projects-index img {
  width: 100vw;
  height: auto;
}

.project-index{
  padding-bottom: 50px;
}

.caption {
  font-size: 11px;
  padding: 13px;
  display: block;
  text-align: right;
}

/* ABOUT */
.about {
  z-index: 100;
}

/* PAGES */
/* PROJECT-PAGE */
/* text */
.intro {
  padding: 0 25px 25px 25px;
  line-height: 23px;
}

.intro p {
  font-family: 'CMU-italic';
  font-size: 17px;
}

.brood p {
  padding: 0 25px 25px 25px;
  font-size: 16px;
  max-width: 450px;
}

/* ABOUT-PAGE */
.brood-group-about {
  padding-top: 25px;
}

.brood-about {
  padding: 0 25px 25px 25px;
  font-size: 16px;
  max-width: 450px;
}

/* ------------- CONTACT-PAGE ------------- */
.text-contact {
  padding: 25px;
}

.contact-item {
  font-family: "Standard";
  padding-left: 10px;
  line-height: 20px;
}

/* --------- PAST/UPCOMING-PAGEs ----------- */
.places-wrap {
  padding: 25px;

}

.places-item {
padding-bottom: 25px;
}

.places-piece {
  font-family: "TGL-0-17";
  font-size: 20px;
  padding-right: 15px;
}

.places-date {
  font-weight: bold;
}

.places-date, .places-place, .places-city, .places-country {
padding-right: 15px;
}



/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
}

.list {
  font-size: 13px;
  height: fit-content;
  font-weight: bold;
  padding: 25px 0 50px 20px;
  max-width: 450px;
  bottom: 0;
}

.list-item {
  padding-left: 10px;
  font-size: 13px;
  line-height: 20px;
}

.next-project {
  font-family: 'Standard';
  margin: 0 50px 50px 20px;
  left: 0;
}

.next-project a {
  text-decoration: none;
  color: black;
}


/* carrousel */
img {
  display: block;
  height: 60vh;
  width: auto;
}

video {
  display: block;
  height: 60vh;
  width: auto;
}

.main-carousel {
  height: 60vh;
}

.flickity-page-dots {
  display: none;
}


/* DESKTOP */

@media screen and (min-width: 750px) {
  .brood-group {
    column-count: 2;
    width: 100vw;
  }

  footer {
    display: flex;
    flex-direction: row;
  }

  .next-project {
    font-family: 'Standard';
    margin: 0 50px 50px auto;
    bottom: 0;
    right: 0;
  }

}

@media screen and (min-width: 1000px) {
  .brood-group {
    column-count: 3;
  }

}

@media screen and (min-width: 1300px) {
  .brood-group {
    column-count: 4;
  }

}




