* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Junction-Regular';
}

a {
  text-decoration: none;
}

.br {
  height: 12px;
}


@font-face {
  font-family: Standard;
  src: url(/src/fonts/standard-book-webfont.woff);
}

@font-face {
  font-family: TGL-0-17;
  src: url(/src/fonts/TGL-0-17.ttf);
}

@font-face {
  font-family: Junction-Bold;
  src: url(/src/fonts/Junction-bold.otf);
}

@font-face {
  font-family: Junction-Regular;
  src: url(/src/fonts/Junction-regular.otf);
}

/*** HEADER ***/
header {
  background-color: black;
  height: fit-content;
}

.wrap {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 15px 15px;
}

.wrap a {
  text-decoration: none;
}

.project {
  padding-left: 35px;
  width: 50vw;
}

.year-project {
  font-family: 'Standard';
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
}

.title-project {
  font-family: 'TGL-0-17';
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  display: block;
}

p.title-project {
  font-size: 26px;
  line-height: 27px;
}

/* home-btn */
.home {
  color: rgb(255, 0, 208);
  z-index: 100;
  
}

svg {
  width: 35px;
}


/* Hamburger */
.hamburger {
  position: fixed;
  z-index: 99;
  top: -10px;
  right: 7px;
  display: block;
  cursor: pointer;
  background-color: rgba(148, 137, 137, 0);
  border: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.hamburger .closeIcon {
  color: rgb(255, 0, 0);
  font-size: 60px;
}

.hamburger .menuIcon {
  color: rgb(0, 150, 50);
  font-size: 60px;
  
}

.closeIcon {
    display: none;
}

.menu {
  font-size: 16px;
  display: block;
  text-align: right;
  position: fixed;
  transform: translateY(-140%);
  transition: transform 0.3s;
  top: 3px;
  left: 0;
  right: 40px;
  bottom: 0;
  z-index: 99;
  list-style: none;
  height: fit-content;
  line-height: 23.5px;
}

.menu a {
  font-family: "Standard";
  font-size: 18px;
  line-height: 16px;
  color: rgb(255, 0, 0);
  padding: 0 5px 5px 5px;
  text-decoration: none;
}

.menu a:hover {
 color: rgb(0, 150, 50);
}


.showMenu {
  transform: translateY(0); 
}



/* PROJECT-PAGINA */
.projects-index img {
  width: 100vw;
  height: auto;
}

.project-index{
  padding-bottom: 50px;
}

.caption p {
  font-size: 11px;
  padding: 10px 15px 15px 0;
  font-family: "Standard";
  font-style: italic;
  display: block;
  text-align: right;
}

/* about */
.about {
  z-index: 100;
}

/* PAGES */
/* PROJECT-PAGE */
/* text */
.intro {
  padding: 0 25px 25px 25px;
  word-break: keep-all;
}

.intro p {
  font-family: 'Junction';
  font-style: italic;
  font-size: 14.5px;
  line-height: 26px;
  padding-left: 25px;
  
}

.brood p {
  padding: 0 25px 25px 25px;
  font-size: 14.5px;
  line-height: 26px;
  max-width: 530px;
}

/*uitzondering brood, caption SPACE*/
.brood-space p{
  padding: 0 25px 10px 25px;
  font-size: 13px;
  min-height: 5px;
}

.brood-space {
  padding-bottom: 50px;
}

.caption-space {
  font-size: 11px;
  padding: 13px;
  display: block;
  text-align: right;
  max-width: 1010px;
}

/* about-PAGE */
.brood-group-about {
  padding-top: 25px;
}

.brood-about {
  padding: 0 25px 25px 25px;
  font-size: 16px;
  max-width: 450px;
}

/* ------------- CONTACT-PAGE ------------- */
.text-contact {
  padding: 0 25px 25px 25px;
}

.contact-title {
  font-family: "Standard";

  padding-top: 25px;
}

.contact-item {
  font-family: "Standard";
  line-height: 20px;
  padding-left: 15px;
}

.contact-item {
  color: rgb(255, 0, 0);
  
}

.contact-item:hover {
  font-style: italic;
}

/* --------- past/upcoming-PAGEs ----------- */
.places-wrap {
  padding: 25px;
}



.places-item {
  padding-bottom: 25px;
}

.places-piece {
  font-family: "TGL-0-17";
  font-size: 20px;
  padding:  0 5px 3px 20px;
}

.places-date {
  font-family: "Standard";
  padding:  0 5px 3px 20px;
  font-style: italic;
}

.places-place, .places-city, .places-country {
padding-right: 15px;
font-family: "Standard"; 
}


/* FOOTER */
.list {
  height: fit-content;
  padding: 0 0 25px 25px;
  bottom: 0;
  max-width: 310px;
}

p.list-title, p.list-item  {
  font-family: "Standard";
  font-size: 11px;
  line-height: 17px;
}

p.list-item {
  padding-left: 15px;
}

/* NEST/PREV PROJECT */
.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px 25px 25px;
  gap: 7px;
  
}

.next-project a, .prev-project a{
  font-family: 'TGL-0-17';
  color: rgb(255, 255, 255);
  
}

.button-wrap {
  border-radius: 20px;
  padding: 10px 15px 5px 15px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: fit-content;
}

.button-wrap a {
  color: rgb(255, 255, 255);
  line-height: 15px;
  font-size: 18px;
}

.button-wrap a:hover {
  color: rgb(255, 0, 208);
  transition-duration: 0.4s;
}

/**** uitzodnering- space ****/
.nav-buttons-space {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7px;
  padding: 0 25px 25px 25px;
  width: 100vw;
}

/* carrousel */
.main-carousel img {
  display: block;
  height: 60vh;
  width: auto;
}

.video-untitled {
  height: 60vh;
  width: auto;
}

.main-carousel {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: flex-start;
}

.video-walking {
  width: 100vw;
}

/* single img*/
.space-carousel img{
  width: 100vw;
  max-width: 1000px;
}

/* DESKTOP */
@media screen and (min-width: 580px){
  header {
    min-height: 125px;
  }

  .caption p {
    text-align: left;
    padding: 10px 15px 15px 15px;
  }

  .caption-space {
    text-align: left;
    padding: 10px 15px 15px 15px;
  }

}

@media screen and (min-width: 430px) {
  .title-project{
    max-width: 300px;
  }

  p.title-project {
    font-size: 32px;
    line-height: 33px;
  }

  .wrap {
    padding: 15px;
  }
}

@media screen and (min-width: 750px) {
  .brood-group-max-2col {
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;

  }

  .brood-group-max-1col {
    column-count: 1;
    width: 100vw;
    max-width: 60vw;    
  }

  .brood-group-max-1col, .brood-group-max-2col{
    justify-content: flex-start;
    max-width: 100vw;
    margin-bottom: 25px;
  }

  .video-untitled {
    width: auto;
    height: 60vh;
  }

}

@media screen and (min-width: 900px) {
  .horizontal-text {
    display: flex;
    flex-direction: row;
  }

  .brood-group-max-1col, .brood-group-max-2col {
    max-width: 80vw;
    margin: 15px 0 0 0;
  } 
}

@media screen and (min-width: 1200px) {
  .brood-group-max-1col, .brood-group-max-2col {
    max-width: 60vw;
  } 
}

@media screen and (min-width: 1500px) {
  .brood-group-max-1col, .brood-group-max-2col {
    max-width: 50vw;
  } 
}







