* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Junction-Regular';
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Standard;
  src: url(/src/fonts/standard-book-webfont.woff);
}

@font-face {
  font-family: TGL-0-17;
  src: url(/src/fonts/TGL-0-17.ttf);
}

@font-face {
  font-family: Junction-Bold;
  src: url(/src/fonts/Junction-bold.otf);
}

@font-face {
  font-family: Junction-Regular;
  src: url(/src/fonts/Junction-regular.otf);
}



/*** HEADER ***/
header {
  background-color: black;
  height: fit-content;
  min-height: 99px;
}

.wrap {
  display: flex;
  flex-direction: row;
  padding: 15px 25px 25px 20px;
}

.wrap a {
  text-decoration: none;
}

.title-project {
  font-family: 'TGL-0-17';
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  display: block;
  width: 45vw;
}

p.title-project {
  font-size: 24px;
line-height: 26px;
}

/* Title */
.title {
  font-family: 'Standard';
  height: fit-content;
  font-size: 34px;
  color: rgb(255, 0, 212);
  word-break: keep-all;
  z-index: 1;
  width: 20vw;
  line-height: 10px;
  padding-left: 2px;
}


/* Hamburger */
.hamburger {
  position: absolute;
  z-index: 100;
  top: 6px;
  right: 13px;
  display: block;
  cursor: pointer;
  background-color: rgba(148, 137, 137, 0);
  border: none;
  display: flex;
  flex-direction: row;
}

.hamburger .closeIcon {
  color: rgb(255, 0, 0);
  font-size: 40px;
}

.hamburger .menuIcon {
  color: rgb(0, 150, 50);
  font-size: 40px;
}

.closeIcon {
    display: none;
}
.hamburger .closeIcon {
  color: rgb(255, 0, 0);
  font-size: 40px;
}

.hamburger .menuIcon {
  color: rgb(0, 150, 50);
  font-size: 40px;
  
}

.closeIcon {
    display: none;
}

.menu {
  font-size: 18px;
  display: block;
  text-align: right;
  position: fixed;
  transform: translateY(-140%);
  transition: transform 0.3s;
  top: 23px;
  left: 0;
  right: 35px;
  bottom: 0;
  z-index: 99;
  list-style: none;
  height: fit-content;
}

.menu a {
  font-family: "Standard";
  color: rgb(167, 167, 170);
  padding: 0 5px 5px 5px;
  text-decoration: none;
}

.menu a:hover {
color: white;
}


.showMenu {
  transform: translateY(0); 
}



/* PROJECT-PAGINA */
.year-project {
  font-family: 'Standard';
  font-size: 13px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
  width: 15vw;
}

.projects-index img {
  width: 100vw;
  height: auto;
}

.project-index{
  padding-bottom: 50px;
}

.caption {
  font-size: 11px;
  padding: 13px;
  display: block;
  text-align: right;
}

/* ABOUT */
.about {
  z-index: 100;
}

/* PAGES */
/* PROJECT-PAGE */
/* text */
.intro {
  padding: 0 25px 0 25px;
}

.intro p {
  font-family: 'Junction-Bold';
  line-height: 24px;
  font-size: 15px;
}

.brood-group {
  padding-top: 25px;
}

.brood p {
  padding: 0 25px 25px 25px;
  font-size: 15px;
  max-width: 450px;
  line-height: 24px;
}

/* ABOUT-PAGE */
.brood-group-about {
  padding-top: 25px;
}

.brood-about {
  padding: 0 25px 25px 25px;
  font-size: 16px;
  max-width: 450px;
}

/* ------------- CONTACT-PAGE ------------- */
.text-contact {
  padding: 25px;
}

.contact-item {
  font-family: "Standard";
  padding-left: 10px;
  line-height: 20px;
}

/* --------- PAST/UPCOMING-PAGEs ----------- */
.places-wrap {
  padding: 25px;

}

.places-item {
padding-bottom: 25px;
}

.places-piece {
  font-family: "TGL-0-17";
  font-size: 20px;
  padding:  0 5px 3px 20px;
}

.places-date {
  font-weight: bold;
}

.places-date, .places-place, .places-city, .places-country {
padding-right: 15px;
}



/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  font-family: 'Junction-Bold';
}

.list {
  font-size: 15px;
  height: fit-content;
  padding: 25px 0 50px 20px;
  max-width: 350px;
  bottom: 0;
}

.list-item {
  padding-left: 10px;
  font-size: 13px;
  line-height: 20px;
}

.next-project {
  font-size: 15px;
  font-family: 'Junction-Bold';
  margin: 25px;
  left: 0;
  text-align: right;
}

.next-project p {
  padding-bottom: 7px;
}

.next-project a {
  text-decoration: none;
  color: black;
  line-height: 16px;
  width: 100px;
}

.all-projects {
  font-family: 'Standard';
  margin: 0 50px 50px 20px;
  left: 0;
}

.all-projects p {
  font-size: 13px;
  color: rgb(255, 0, 212);
}

.all-projects a {
  font-family: "TGL-0-17";
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 0, 212);
}




/* carrousel */
img {
  display: block;
  height: 60vh;
  width: auto;
}

video {
  display: block;
  height: 60vh;
  width: auto;
}

.main-carousel {
  height: 60vh;
}

.flickity-page-dots {
  display: none;
}


/* DESKTOP */
@media screen and (min-width: 430px) {
  .title-project{
    max-width: 300px;
  }
  p.title-project {
    font-size: 32px;
    line-height: 33px;
  }

  .wrap{
    padding: 15px;
  }

}
@media screen and (min-width: 750px) {
  .brood-group {
    column-count: 2;
    width: 100vw;
  }


  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100vw;
  }

  .next-project {
    font-family: 'Standard';
    text-align: right;

  }

}

@media screen and (min-width: 1000px) {
  .brood-group {
    column-count: 3;
  }

}

@media screen and (min-width: 1300px) {
  .brood-group {
    column-count: 4;
  }

}




